<ul>
  <li>Room: <%= link_to @booking.room.name, @booking.room %></li>
  <li>Start: <%= @booking.start %></li>
  <li>End: <%= @booking.end %></li>
  <li>Purpose: <%= @booking.purpose %></li>
</ul>
<%= link_to "Edit Booking", edit_booking_path %>
<%= button_to "Remove this Booking", @booking, method: :delete %>